In [1]:
import pandas as pd
pd.__version__

'0.23.0'

- Series --> 1d Array
- DataFrame --> 2d Array
- Pannel --> 3d Array

In [5]:
pd.Series([56,12,49],index=[1,2,3])

1    56
2    12
3    49
dtype: int64

In [4]:
import numpy as np
np.array([10,20,30])

array([10, 20, 30])

In [11]:
s=pd.Series(['Hima','Nikki','Geetha'],index=['Ch','M','M'])

In [27]:
print(s['Ch'])
s.index

Hima

Index(['Ch', 'M', 'M'], dtype='object')

In [25]:
d={'hima':79,'nikki':106,'geetha':180}
x=pd.Series(d)
print(x['hima'],x[1])

79 106

In [30]:
x.index

Index(['hima', 'nikki', 'geetha'], dtype='object')

## DataFrame

In [39]:
d={'name':['Hima','Nikki','Geetha'],'Language':['py','c','J']}
df=pd.DataFrame(d,index=(79,106,180))
print(df,'\n',df['name'][79])

       name Language
79     Hima       py
106   Nikki        c
180  Geetha        J
 Hima

In [42]:
data=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv')
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [44]:
data.shape

(26, 6)

In [46]:
data.head(5)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [47]:
data.tail(3)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [48]:
data['Name']

0                 Sai Naga Raju
1                      R deepak
2                 P K CHAITANYA
3                    B SRIKANTH
4              Himaja cherukuri
5                 M.Geethanjali
6                     M.Nikhita
7              DASARI PAVAN SAI
8                 B Jagan Mohan
9             k.parameswara rao
10             B.Ravindra kumar
11          P.M.S.Bhargav Kumar
12        Thatavarti kavya sree
13                 Harish Bandi
14       M.Bhavani Sankar Reddy
15               Devendra Kumar
16                      M.Ramya
17              T.V.Naga Jyothi
18               Ananda Lakshmi
19                  K . krishna
20         Md.Ali Asghar Khoyee
21             G. Vineeth Kumar
22    JAYA NAVEEN KUMAR DUPPATI
23                     vikram S
24              SAI TEJA JALADI
25           SAIKUMAR MANIKONDA
Name: Name, dtype: object

In [53]:
data[['Name','MailId']]
type(data[['Name','MailId']])

pandas.core.frame.DataFrame

In [54]:
data['MailId']

0     sainagarajusakhamuri99@gmail.com
1               deepakrella9@gmail.com
2                 chaitu1495@gmail.com
3              srikanthbisai@gmail.com
4            himajacherukuri@gmail.com
5              geethamuppuri@gmail.com
6               muvvanikhita@gmail.com
7             pavandasari226@gmail.com
8              bjaganmohan24@gmail.com
9       parameshkarumuri1997@gmail.com
10      ravindrakumarroyal12@gmail.com
11       bhargavperumalla123@gmail.com
12           kavyathatavarti@gmail.com
13             harishbandi12@gmail.com
14         bhavanisankar5758@gmail.com
15            devendra108148@gmail.com
16          ramya.marripoodi@gmail.com
17              tvnagajyothi@gmail.com
18           p.anandalakshmi@gmail.com
19             saikamavarapu@gmail.com
20               ali95asghar@gmail.com
21               121822502016@gitam.in
22         duppatijayanaveen@gmail.com
23       vikramsabbavarapu60@gmail.com
24         saitejajaladi2000@gmail.com
25               saikumarm64@gmail.com
Name: MailId, dtype: object

In [56]:
data.sample()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049

In [60]:
data.shape[0]  #Total No of Rows

26

In [59]:
data.shape[1]  #Total no of columns

6

In [61]:
data.columns

Index(['Timestamp', 'Name', 'MailId', 'Branch', 'Qualification', 'RollNumber'], dtype='object')

In [62]:
# To get the row labels
data.index

RangeIndex(start=0, stop=26, step=1)

In [63]:
data.dtypes  #DataTypes

Timestamp        object
Name             object
MailId           object
Branch           object
Qualification    object
RollNumber       object
dtype: object

In [64]:
type(data.dtypes)

pandas.core.series.Series

In [65]:
data.isnull().sum()

Timestamp        0
Name             0
MailId           0
Branch           0
Qualification    0
RollNumber       0
dtype: int64

In [69]:
d=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/Student%20Data%20ML%20Jan%20(Responses)%20-%20Form%20responses%201.csv',sep='\t')
d

   Timestamp,Name,MailId,Branch,Qualification,RollNumber
0   30/01/2020 15:00:07,Sai Naga Raju,sainagarajus...
1   30/01/2020 15:00:20,R deepak,deepakrella9@gmai...
2   30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@g...
3   30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@g...
4   30/01/2020 15:00:28,Himaja cherukuri,himajache...
5   30/01/2020 15:00:28,M.Geethanjali,geethamuppur...
6   30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gma...
7   30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasa...
8   30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan2...
9   30/01/2020 15:00:41,k.parameswara rao,paramesh...
10  30/01/2020 15:00:43,B.Ravindra kumar,ravindrak...
11  30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bharga...
12  30/01/2020 15:00:45,Thatavarti kavya sree,kavy...
13  30/01/2020 15:01:10,Harish Bandi,harishbandi12...
14  30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bha...
15  30/01/2020 15:01:24,Devendra Kumar,devendra108...
16  30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@g...
17  30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyot...
18  30/01/2020 15:01:50,Ananda Lakshmi,p.anandalak...
19  30/01/2020 15:01:56,K . krishna,saikamavarapu@...
20  30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95...
21  30/01/2020 15:02:41,G. Vineeth Kumar,121822502...
22  30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,...
23  30/01/2020 15:02:59,vikram S,vikramsabbavarapu...
24  30/01/2020 15:04:10,SAI TEJA JALADI,saitejajal...
25  30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikuma...

In [71]:
excel_data=pd.read_excel('Student Data ML Jan (Responses).xlsx')
excel_data.head()

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,2020-01-30 15:00:06.734,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,2020-01-30 15:00:19.555,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,2020-01-30 15:00:23.470,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,2020-01-30 15:00:25.434,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,2020-01-30 15:00:27.759,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

- postion based Indexing --> iloc
- Label Based Indexing

In [73]:
data.iloc[0]

Timestamp                     30/01/2020 15:00:07
Name                                Sai Naga Raju
MailId           sainagarajusakhamuri99@gmail.com
Branch                                         IT
Qualification                              B.Tech
RollNumber                             161FA07039
Name: 0, dtype: object

In [74]:
data.iloc[0:1]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039

In [75]:
data.iloc[0:6:2]

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [76]:
data.iloc[0:6:2,1:3]

               Name                            MailId
0     Sai Naga Raju  sainagarajusakhamuri99@gmail.com
2     P K CHAITANYA              chaitu1495@gmail.com
4  Himaja cherukuri         himajacherukuri@gmail.com

In [87]:
data.iloc[-2:,-2:]   #For last two rows and last two columns

   Qualification    RollNumber
24        B.TECH    161FA07025
25           B.E  245112769310

In [91]:
#rows(7,11,15)
#columns()last 3
data.iloc[7:16:4,-3:]

                    Branch Qualification    RollNumber
7   Information Technology        B.Tech    161FA07042
11        Computer Science           MCA  121722501026
15                     ECE        B.Tech    14F41A0461

In [93]:
data.loc[0:1]  #If we use loc both values are inclusive
               #If we use iloc stop value is exclusive

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019

In [95]:
data.loc[0:25:2] #For obtaining even data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025

In [113]:
data.loc[25:24:-1,'Qualification':'RollNumber']

   Qualification    RollNumber
25           B.E  245112769310
24        B.TECH    161FA07025