### Pandas

In [113]:
import pandas as pd
data=pd.read_csv('Student Data ML Jan (Responses).csv')
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,M.sc,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,Msc,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,B.TECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSc,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,B.tech,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),degree,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),Degree,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,M.Sc,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,B.TECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,B-tech,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,B.TECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,B.E,245112769310

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
Timestamp        26 non-null object
Name             26 non-null object
MailId           26 non-null object
Branch           26 non-null object
Qualification    26 non-null object
RollNumber       26 non-null object
dtypes: object(6)
memory usage: 1.3+ KB

In [115]:
data.MailId

0     sainagarajusakhamuri99@gmail.com
1               deepakrella9@gmail.com
2                 chaitu1495@gmail.com
3              srikanthbisai@gmail.com
4            himajacherukuri@gmail.com
5              geethamuppuri@gmail.com
6               muvvanikhita@gmail.com
7             pavandasari226@gmail.com
8              bjaganmohan24@gmail.com
9       parameshkarumuri1997@gmail.com
10      ravindrakumarroyal12@gmail.com
11       bhargavperumalla123@gmail.com
12           kavyathatavarti@gmail.com
13             harishbandi12@gmail.com
14         bhavanisankar5758@gmail.com
15            devendra108148@gmail.com
16          ramya.marripoodi@gmail.com
17              tvnagajyothi@gmail.com
18           p.anandalakshmi@gmail.com
19             saikamavarapu@gmail.com
20               ali95asghar@gmail.com
21               121822502016@gitam.in
22         duppatijayanaveen@gmail.com
23       vikramsabbavarapu60@gmail.com
24         saitejajaladi2000@gmail.com
25               saikumarm64@gmail.com
Name: MailId, dtype: object

### fancy Indexing

In [116]:
data.Qualification # data[0:]

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [117]:
# to access the column
data.loc[0:,'Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [118]:
# to access the column
data['Qualification']

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [119]:
data.Qualification=='PG'

0     False
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
Name: Qualification, dtype: bool

In [120]:
data['RollNumber']

0       161FA07039
1     121722501019
2     121722501015
3     121722501002
4       161fa04079
5       161FA04180
6       161FA04106
7       161FA07042
8     121822502015
9     121722501011
10    121822502017
11    121722501026
12      161FA07050
13      161FA07035
14    121822502018
15      14F41A0461
16      161FA07002
17      161FA07049
18      y167189053
19    140082202030
20    121722501013
21    121822502016
22      161FA07012
23      133J1A0150
24      161FA07025
25    245112769310
Name: RollNumber, dtype: object

In [121]:
data[data.Qualification=='PG']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011

In [122]:
data[data.Qualification=='B.Tech']

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,B.Tech,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,B.Tech,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,B.Tech,161FA07042
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,B.Tech,161FA07050
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,B.Tech,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,B.Tech,161FA07002

In [123]:
# To get the B.Tech student with their mailId's
data['MailId'][data.Qualification=='B.Tech']

0     sainagarajusakhamuri99@gmail.com
5              geethamuppuri@gmail.com
6               muvvanikhita@gmail.com
7             pavandasari226@gmail.com
12           kavyathatavarti@gmail.com
15            devendra108148@gmail.com
16          ramya.marripoodi@gmail.com
Name: MailId, dtype: object

In [124]:
data.Branch

0                         IT
1                        MCA
2                        MCA
3                        MCA
4                        cse
5                        CSE
6                        CSE
7     Information Technology
8               Data Science
9                        MCA
10               DataScience
11          Computer Science
12                        IT
13    Information Technology
14              Data Science
15                       ECE
16    Information Technology
17    Information Technology
18          b com(computers)
19                B.Sc(comp)
20          Computer Science
21              Data Science
22                       I.T
23         civil engineering
24                       I.T
25    Automobile Engineering
Name: Branch, dtype: object

In [125]:
# student RollNumbers with Branch Data Science
data['RollNumber'][data.Branch=="Data Science"]

8     121822502015
14    121822502018
21    121822502016
Name: RollNumber, dtype: object

In [126]:
# student Names with Branch IT
data['Name'][data.Branch=="IT"]

0             Sai Naga Raju
12    Thatavarti kavya sree
Name: Name, dtype: object

In [127]:
# to retreive all students in IT or I.T or Information Technology
# '|' - or symbol
# '\' - line continution symbol
((data.Branch=="IT")|(data.Branch=="I.T")|\
(data.Branch=="Information Technology")).sum()

8

In [128]:
((data.Branch=="IT")|(data.Branch=="I.T")).sum()

4

In [129]:
True or False

True

In [130]:
[True,False] or [False,True]

[True, False]

In [131]:
print(0 or 56)
print(56 or False)
print(6==7 or 8==8)
print(4+5 or 7+9)
print(7+9 or 4+5)
print(False or 4-4)

56
56
True
9
16
0

In [132]:
(data.Branch=='IT').any()

True

In [133]:
(data.Branch=='IT').all()

False

In [134]:
data.Qualification.value_counts()

B.Tech    7
PG        4
B.TECH    3
MCA       2
Degree    1
degree    1
M.sc      1
B-tech    1
MSc       1
Msc       1
M.Sc      1
B.tech    1
BTech     1
B.E       1
Name: Qualification, dtype: int64

In [135]:
# 
data.Qualification[data.Qualification=='B.tech']='B.Tech'
data.Qualification

0     B.Tech
1         PG
2         PG
3         PG
4      BTech
5     B.Tech
6     B.Tech
7     B.Tech
8       M.sc
9         PG
10       Msc
11       MCA
12    B.Tech
13    B.TECH
14       MSc
15    B.Tech
16    B.Tech
17    B.Tech
18    degree
19    Degree
20       MCA
21      M.Sc
22    B.TECH
23    B-tech
24    B.TECH
25       B.E
Name: Qualification, dtype: object

In [136]:
data.head(5)

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,B.Tech,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTech,161fa04079

In [137]:
# B.Tech ,PG,MCA,MSC,B.E,Degree
#BTECH ,PG,MCA,MSC,BE,DEGREE
data.Qualification[data.Qualification=='B.Tech']='BTECH'
data.Qualification
data.Qualification[data.Qualification=='B.TECH']='BTECH'
data.Qualification
data.Qualification[data.Qualification=='B-tech']='BTECH'
data.Qualification
data.Qualification[data.Qualification=='BTech']='BTECH'
data.Qualification
data.Qualification[data.Qualification=='pg']='PG'
data.Qualification
data.Qualification[data.Qualification=='Degree']='DEGREE'
data.Qualification
data.Qualification[data.Qualification=='degree']='DEGREE'
data.Qualification
data.Qualification[data.Qualification=='M.sc']='MSC'
data.Qualification
data.Qualification[data.Qualification=='M.Sc']='MSC'
data.Qualification
data.Qualification[data.Qualification=='MSc']='MSC'
data.Qualification
data.Qualification[data.Qualification=='Msc']='MSC'
data.Qualification
data.Qualification[data.Qualification=='B.E']='BE'
data.Qualification

0      BTECH
1         PG
2         PG
3         PG
4      BTECH
5      BTECH
6      BTECH
7      BTECH
8        MSC
9         PG
10       MSC
11       MCA
12     BTECH
13     BTECH
14       MSC
15     BTECH
16     BTECH
17     BTECH
18    DEGREE
19    DEGREE
20       MCA
21       MSC
22     BTECH
23     BTECH
24     BTECH
25        BE
Name: Qualification, dtype: object

In [138]:
data

,Timestamp,Name,MailId,Branch,Qualification,RollNumber
0,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,161FA07039
1,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,121722501019
2,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,121722501015
3,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,121722501002
4,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,cse,BTECH,161fa04079
5,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,161FA04180
6,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,161FA04106
7,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,Information Technology,BTECH,161FA07042
8,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,121822502015
9,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,121722501011
10,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,DataScience,MSC,121822502017
11,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,Computer Science,MCA,121722501026
12,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,161FA07050
13,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,Information Technology,BTECH,161FA07035
14,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,121822502018
15,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,14F41A0461
16,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,Information Technology,BTECH,161FA07002
17,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,Information Technology,BTECH,161FA07049
18,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,y167189053
19,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,140082202030
20,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,Computer Science,MCA,121722501013
21,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,121822502016
22,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,I.T,BTECH,161FA07012
23,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,133J1A0150
24,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,I.T,BTECH,161FA07025
25,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310

In [139]:
data.Branch[data.Branch=='I.T']='IT'
data.Branch
data.Branch[data.Branch=='Information Technology']='IT'
data.Branch
data.Branch[data.Branch=='cse']='CSE'
data.Branch
data.Branch[data.Branch=='Computer Science']='CSE'
data.Branch
data.Branch[data.Branch=='DataScience']='Data Science'
data.Branch

0                         IT
1                        MCA
2                        MCA
3                        MCA
4                        CSE
5                        CSE
6                        CSE
7                         IT
8               Data Science
9                        MCA
10              Data Science
11                       CSE
12                        IT
13                        IT
14              Data Science
15                       ECE
16                        IT
17                        IT
18          b com(computers)
19                B.Sc(comp)
20                       CSE
21              Data Science
22                        IT
23         civil engineering
24                        IT
25    Automobile Engineering
Name: Branch, dtype: object

In [140]:
data.set_index('RollNumber')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

In [141]:
# data=data.set_index("RollNumber")
data.set_index('RollNumber',inplace=True)
data

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

In [142]:
# sort the name
data.sort_values('Name')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH

In [143]:
data

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

### Sorting the DataFrame

In [144]:
data.sort_values('Name')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH

In [145]:
data.sort_index()

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE

In [146]:
data.sort_values('Branch')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH

In [147]:
data.sort_values('Qualification')

,Timestamp,Name,MailId,Branch,Qualification
RollNumber,,,,,
245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE
133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG

### Merging the DataFrames

In [148]:
college=pd.read_csv('college.csv')
college

     RollNumber College  Year
0  245112769310   Gitam  2016
1    161FA07002  Vignan  2020
2    161FA07050  Vignan  2020
3    133J1A0150   Gitam  2017
4    161FA07051  Vignan  2020

In [149]:
data.reset_index(inplace=True)
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE

In [150]:
# merging 2 dataframes- data,college
pd.merge(data,college,how='inner')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,Vignan,2020
1,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,Vignan,2020
2,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,Gitam,2017
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,Gitam,2016

In [151]:
pd.merge(data,college,how='outer')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,NaN,NaN
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,NaN,NaN
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,NaN,NaN
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,NaN,NaN
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH,NaN,NaN
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,NaN,NaN
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,NaN,NaN
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,NaN,NaN
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,NaN,NaN
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,NaN,NaN
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,NaN,NaN
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,NaN,NaN
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,Vignan,2020.0
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,NaN,NaN
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,NaN,NaN
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,NaN,NaN
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,Vignan,2020.0
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,NaN,NaN
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,NaN,NaN
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,NaN,NaN
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,NaN,NaN
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,NaN,NaN
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,NaN,NaN
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,Gitam,2017.0
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,NaN,NaN
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,Gitam,2016.0
26,161FA07051,NaN,NaN,NaN,NaN,NaN,Vignan,2020.0

In [152]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.

    If joining columns on columns, the DataFrame indexes *will be
    ignored*. Otherwise if joining indexes on indexes or indexes on a column or
    columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : boolean, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels
    right_index : boolean, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index
    sort : boolean, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword)
    suffixes : 2-length sequence (tuple, list, ...)
        Suffix to apply to overlapping column names in the left and right
        side, respectively
    copy : boolean, default True
        If False, do not copy data unnecessarily
    indicator : boolean or string, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : string, default None
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0

    Examples
    --------

    >>> A              >>> B
        lkey value         rkey value
    0   foo  1         0   foo  5
    1   bar  2         1   bar  6
    2   baz  3         2   qux  7
    3   foo  4         3   bar  8

    >>> A.merge(B, left_on='lkey', right_on='rkey', how='outer')
       lkey  value_x  rkey  value_y
    0  foo   1        foo   5
    1  foo   4        foo   5
    2  bar   2        bar   6
    3  bar   2        bar   8
    4  baz   3        NaN   NaN
    5  NaN   NaN      qux   7

    Returns
    -------
    merged : DataFrame
        The output type will the be same as 'left', if it is a subclass
        of DataFrame.

    See also
    --------
    merge_ordered
    merge_asof
    DataFrame.join

In [153]:
pd.merge(data,college,how='left') # if value doesnot exists prints NaN

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,NaN,NaN
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,NaN,NaN
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,NaN,NaN
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,NaN,NaN
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH,NaN,NaN
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,NaN,NaN
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,NaN,NaN
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,NaN,NaN
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,NaN,NaN
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,NaN,NaN
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,NaN,NaN
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,NaN,NaN
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,Vignan,2020.0
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,NaN,NaN
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,NaN,NaN
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,NaN,NaN
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,Vignan,2020.0
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,NaN,NaN
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,NaN,NaN
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,NaN,NaN
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,NaN,NaN
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,NaN,NaN
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,NaN,NaN
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,Gitam,2017.0
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,NaN,NaN
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,Gitam,2016.0

In [154]:
pd.merge(data,college,how='right') # if value doesnot exists prints NaN

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,Vignan,2020
1,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,Vignan,2020
2,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,Gitam,2017
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,Gitam,2016
4,161FA07051,NaN,NaN,NaN,NaN,NaN,Vignan,2020

### Data,College Dataframes
- Inner : Students available in both dataframes(intersection)
- Outer: Students who are there in atleast one dataframe(union)
- Left : Roll numbers available in data
- Right : Roll numbers available in college

In [155]:
data.shape[0],college.shape[0]

(26, 5)

### Different columns names in 2 dataframes
- data : RollNumber 
- college1 :rollNumber

In [156]:
import pandas as pd
college1=pd.read_csv('college1.csv')
college1

     rollNumber College  Year
0  245112769310   Gitam  2016
1    161FA07002  Vignan  2020
2    161FA07050  Vignan  2020
3    133J1A0150   Gitam  2017
4    161FA07051  Vignan  2020

In [157]:
college1.columns

Index(['rollNumber', 'College', 'Year'], dtype='object')

In [158]:
data.columns

Index(['RollNumber', 'Timestamp', 'Name', 'MailId', 'Branch', 'Qualification'], dtype='object')

In [159]:
pd.merge(data,college1,left_on='RollNumber',right_on='rollNumber')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,rollNumber,College,Year
0,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,161FA07050,Vignan,2020
1,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,161FA07002,Vignan,2020
2,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,133J1A0150,Gitam,2017
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,Gitam,2016

In [160]:
common_data=pd.merge(data,college1,left_on='RollNumber',right_on='rollNumber')
common_data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,rollNumber,College,Year
0,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,161FA07050,Vignan,2020
1,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,161FA07002,Vignan,2020
2,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,133J1A0150,Gitam,2017
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,245112769310,Gitam,2016

In [161]:
common_data.drop('rollNumber',axis=1,inplace=True)

In [162]:
common_data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,College,Year
0,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,Vignan,2020
1,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,Vignan,2020
2,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,Gitam,2017
3,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,Gitam,2016

In [163]:
data.Timestamp

0     30/01/2020 15:00:07
1     30/01/2020 15:00:20
2     30/01/2020 15:00:23
3     30/01/2020 15:00:25
4     30/01/2020 15:00:28
5     30/01/2020 15:00:28
6     30/01/2020 15:00:33
7     30/01/2020 15:00:37
8     30/01/2020 15:00:39
9     30/01/2020 15:00:41
10    30/01/2020 15:00:43
11    30/01/2020 15:00:44
12    30/01/2020 15:00:45
13    30/01/2020 15:01:10
14    30/01/2020 15:01:16
15    30/01/2020 15:01:24
16    30/01/2020 15:01:35
17    30/01/2020 15:01:49
18    30/01/2020 15:01:50
19    30/01/2020 15:01:56
20    30/01/2020 15:02:04
21    30/01/2020 15:02:41
22    30/01/2020 15:02:49
23    30/01/2020 15:02:59
24    30/01/2020 15:04:10
25    30/01/2020 15:07:38
Name: Timestamp, dtype: object

In [164]:
type(data.Timestamp[0])

str

In [165]:
pd.to_datetime(data.Timestamp)

0    2020-01-30 15:00:07
1    2020-01-30 15:00:20
2    2020-01-30 15:00:23
3    2020-01-30 15:00:25
4    2020-01-30 15:00:28
5    2020-01-30 15:00:28
6    2020-01-30 15:00:33
7    2020-01-30 15:00:37
8    2020-01-30 15:00:39
9    2020-01-30 15:00:41
10   2020-01-30 15:00:43
11   2020-01-30 15:00:44
12   2020-01-30 15:00:45
13   2020-01-30 15:01:10
14   2020-01-30 15:01:16
15   2020-01-30 15:01:24
16   2020-01-30 15:01:35
17   2020-01-30 15:01:49
18   2020-01-30 15:01:50
19   2020-01-30 15:01:56
20   2020-01-30 15:02:04
21   2020-01-30 15:02:41
22   2020-01-30 15:02:49
23   2020-01-30 15:02:59
24   2020-01-30 15:04:10
25   2020-01-30 15:07:38
Name: Timestamp, dtype: datetime64[ns]

In [166]:
data.Timestamp.dtype

dtype('O')

In [167]:
data['Timestamp_dt']=pd.to_datetime(data.Timestamp)
data

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
0,161FA07039,30/01/2020 15:00:07,Sai Naga Raju,sainagarajusakhamuri99@gmail.com,IT,BTECH,2020-01-30 15:00:07
1,121722501019,30/01/2020 15:00:20,R deepak,deepakrella9@gmail.com,MCA,PG,2020-01-30 15:00:20
2,121722501015,30/01/2020 15:00:23,P K CHAITANYA,chaitu1495@gmail.com,MCA,PG,2020-01-30 15:00:23
3,121722501002,30/01/2020 15:00:25,B SRIKANTH,srikanthbisai@gmail.com,MCA,PG,2020-01-30 15:00:25
4,161fa04079,30/01/2020 15:00:28,Himaja cherukuri,himajacherukuri@gmail.com,CSE,BTECH,2020-01-30 15:00:28
5,161FA04180,30/01/2020 15:00:28,M.Geethanjali,geethamuppuri@gmail.com,CSE,BTECH,2020-01-30 15:00:28
6,161FA04106,30/01/2020 15:00:33,M.Nikhita,muvvanikhita@gmail.com,CSE,BTECH,2020-01-30 15:00:33
7,161FA07042,30/01/2020 15:00:37,DASARI PAVAN SAI,pavandasari226@gmail.com,IT,BTECH,2020-01-30 15:00:37
8,121822502015,30/01/2020 15:00:39,B Jagan Mohan,bjaganmohan24@gmail.com,Data Science,MSC,2020-01-30 15:00:39
9,121722501011,30/01/2020 15:00:41,k.parameswara rao,parameshkarumuri1997@gmail.com,MCA,PG,2020-01-30 15:00:41
10,121822502017,30/01/2020 15:00:43,B.Ravindra kumar,ravindrakumarroyal12@gmail.com,Data Science,MSC,2020-01-30 15:00:43
11,121722501026,30/01/2020 15:00:44,P.M.S.Bhargav Kumar,bhargavperumalla123@gmail.com,CSE,MCA,2020-01-30 15:00:44
12,161FA07050,30/01/2020 15:00:45,Thatavarti kavya sree,kavyathatavarti@gmail.com,IT,BTECH,2020-01-30 15:00:45
13,161FA07035,30/01/2020 15:01:10,Harish Bandi,harishbandi12@gmail.com,IT,BTECH,2020-01-30 15:01:10
14,121822502018,30/01/2020 15:01:16,M.Bhavani Sankar Reddy,bhavanisankar5758@gmail.com,Data Science,MSC,2020-01-30 15:01:16
15,14F41A0461,30/01/2020 15:01:24,Devendra Kumar,devendra108148@gmail.com,ECE,BTECH,2020-01-30 15:01:24
16,161FA07002,30/01/2020 15:01:35,M.Ramya,ramya.marripoodi@gmail.com,IT,BTECH,2020-01-30 15:01:35
17,161FA07049,30/01/2020 15:01:49,T.V.Naga Jyothi,tvnagajyothi@gmail.com,IT,BTECH,2020-01-30 15:01:49
18,y167189053,30/01/2020 15:01:50,Ananda Lakshmi,p.anandalakshmi@gmail.com,b com(computers),DEGREE,2020-01-30 15:01:50
19,140082202030,30/01/2020 15:01:56,K . krishna,saikamavarapu@gmail.com,B.Sc(comp),DEGREE,2020-01-30 15:01:56
20,121722501013,30/01/2020 15:02:04,Md.Ali Asghar Khoyee,ali95asghar@gmail.com,CSE,MCA,2020-01-30 15:02:04
21,121822502016,30/01/2020 15:02:41,G. Vineeth Kumar,121822502016@gitam.in,Data Science,MSC,2020-01-30 15:02:41
22,161FA07012,30/01/2020 15:02:49,JAYA NAVEEN KUMAR DUPPATI,duppatijayanaveen@gmail.com,IT,BTECH,2020-01-30 15:02:49
23,133J1A0150,30/01/2020 15:02:59,vikram S,vikramsabbavarapu60@gmail.com,civil engineering,BTECH,2020-01-30 15:02:59
24,161FA07025,30/01/2020 15:04:10,SAI TEJA JALADI,saitejajaladi2000@gmail.com,IT,BTECH,2020-01-30 15:04:10
25,245112769310,30/01/2020 15:07:38,SAIKUMAR MANIKONDA,saikumarm64@gmail.com,Automobile Engineering,BE,2020-01-30 15:07:38

In [168]:
data['Timestamp_dt'].dtype

dtype('<M8[ns]')

In [169]:
data['Timestamp_dt']

0    2020-01-30 15:00:07
1    2020-01-30 15:00:20
2    2020-01-30 15:00:23
3    2020-01-30 15:00:25
4    2020-01-30 15:00:28
5    2020-01-30 15:00:28
6    2020-01-30 15:00:33
7    2020-01-30 15:00:37
8    2020-01-30 15:00:39
9    2020-01-30 15:00:41
10   2020-01-30 15:00:43
11   2020-01-30 15:00:44
12   2020-01-30 15:00:45
13   2020-01-30 15:01:10
14   2020-01-30 15:01:16
15   2020-01-30 15:01:24
16   2020-01-30 15:01:35
17   2020-01-30 15:01:49
18   2020-01-30 15:01:50
19   2020-01-30 15:01:56
20   2020-01-30 15:02:04
21   2020-01-30 15:02:41
22   2020-01-30 15:02:49
23   2020-01-30 15:02:59
24   2020-01-30 15:04:10
25   2020-01-30 15:07:38
Name: Timestamp_dt, dtype: datetime64[ns]

In [170]:
type(data['Timestamp_dt'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [171]:
data['Timestamp_dt'].dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
Name: Timestamp_dt, dtype: int64

In [172]:
data['Timestamp_dt'].dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
11    2020
12    2020
13    2020
14    2020
15    2020
16    2020
17    2020
18    2020
19    2020
20    2020
21    2020
22    2020
23    2020
24    2020
25    2020
Name: Timestamp_dt, dtype: int64

In [173]:
data['Timestamp_dt'].dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    2
21    2
22    2
23    2
24    4
25    7
Name: Timestamp_dt, dtype: int64

In [174]:
data['Timestamp_dt'].dt.second

0      7
1     20
2     23
3     25
4     28
5     28
6     33
7     37
8     39
9     41
10    43
11    44
12    45
13    10
14    16
15    24
16    35
17    49
18    50
19    56
20     4
21    41
22    49
23    59
24    10
25    38
Name: Timestamp_dt, dtype: int64

In [175]:
data.describe()

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt
count,26,26,26,26,26,26,26
unique,26,25,26,26,9,6,25
top,121822502015,30/01/2020 15:00:28,B SRIKANTH,srikanthbisai@gmail.com,IT,BTECH,2020-01-30 15:00:28
freq,1,2,1,1,8,13,2
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38

In [176]:
data.Branch.value_counts()

IT                        8
CSE                       5
MCA                       4
Data Science              4
Automobile Engineering    1
ECE                       1
civil engineering         1
b com(computers)          1
B.Sc(comp)                1
Name: Branch, dtype: int64

In [177]:
data.Qualification.value_counts()

BTECH     13
MSC        4
PG         4
MCA        2
DEGREE     2
BE         1
Name: Qualification, dtype: int64

In [178]:
data.Branch.nunique()

9

In [179]:
data['seconds']=data['Timestamp_dt'].dt.second
data.describe()

         seconds
count  26.000000
mean   32.846154
std    15.371902
min     4.000000
25%    23.250000
50%    36.000000
75%    43.750000
max    59.000000

In [180]:
data.describe(include=object)

,RollNumber,Timestamp,Name,MailId,Branch,Qualification
count,26,26,26,26,26,26
unique,26,25,26,26,9,6
top,121822502015,30/01/2020 15:00:28,B SRIKANTH,srikanthbisai@gmail.com,IT,BTECH
freq,1,2,1,1,8,13

In [181]:
data.describe(include='all')

,RollNumber,Timestamp,Name,MailId,Branch,Qualification,Timestamp_dt,seconds
count,26,26,26,26,26,26,26,26.000000
unique,26,25,26,26,9,6,25,NaN
top,121822502015,30/01/2020 15:00:28,B SRIKANTH,srikanthbisai@gmail.com,IT,BTECH,2020-01-30 15:00:28,NaN
freq,1,2,1,1,8,13,2,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:00:07,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-30 15:07:38,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.846154
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.371902
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.250000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.750000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000

### Sales data
- Market fact
- Customer Dimensions
- product Dimensions
- order Dimensions
- ship Dimensions

### Global-Sales-Data
Market_Fact.csv
- Read the market fact data
- Display the top five rows
- Display the last three rows
- Check the total number of entries you have
- Check the no of features
- Print features
- Print the row indices of the dataframe
- check the dtype of each and every column
- Description for numerical column min,max,count,25%,50%,75%,std
- Description for the categorical columns count,top,freq
- Missing value count column wise
- Total missing values count in the dataframe
- check the output for the info function
- Access 3,5,7 columns using iloc,loc and without using any of them
- How many Unique Products are there
- How many Unique Customers are there
- What is the maximum sales

In [182]:
#Read the market fact data
market=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/market_fact.csv')
market

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [183]:
# Display the top five rows
market.head(5)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [184]:
# Display the last three rows
market.tail(3)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.05,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.87,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.69,0.00,47,131.39,4.86,0.38

In [185]:
# Check the total number of entries(rows)
market.shape[0]

8399

In [186]:
# Check the No of features(columns)
market.shape[1]

10

In [187]:
# Print features Names(Column Names)
market.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [188]:
# Print the row indices of the dataframe
market.index

RangeIndex(start=0, stop=8399, step=1)

In [189]:
# check the dtype of each and every column
market.dtypes

Ord_id                  object
Prod_id                 object
Ship_id                 object
Cust_id                 object
Sales                  float64
Discount               float64
Order_Quantity           int64
Profit                 float64
Shipping_Cost          float64
Product_Base_Margin    float64
dtype: object

In [190]:
# Description for numerical column min,max,count,25%,50%,75%,std
market.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [191]:
# Description for the categorical Columns count,top,freq
market.describe(include=object)

          Ord_id Prod_id   Ship_id    Cust_id
count       8399    8399      8399       8399
unique      5506      17      7701       1832
top     Ord_2506  Prod_6  SHP_1378  Cust_1140
freq           6    1225         4         30

In [192]:
# Missing value count column wise
market.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [193]:
# Total Missing values count in the DataFrame
market.isnull().sum().sum()

63

In [194]:
# Check the output for the info function
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [195]:
# Access 3,5,7 columns using iloc,loc and without using any of them
# market.iloc[3:8:2]
market.iloc[:,2:7:2]

       Ship_id       Sales  Order_Quantity
0     SHP_7609    136.8100              23
1     SHP_7549     42.2700              13
2     SHP_7610   4701.6900              26
3     SHP_7625   2337.8900              43
4     SHP_7664   4233.1500              35
5     SHP_7608    164.0200              23
6       SHP_41     14.7600               5
7     SHP_6593   3410.1575              48
8     SHP_6593    162.0000              33
9     SHP_6593     57.2200               8
10    SHP_6615   4072.0100              43
11    SHP_2637    465.9000              38
12    SHP_4112    305.0500              27
13    SHP_3093   3364.2480              15
14    SHP_3006   1410.9300              10
15    SHP_3114    460.6900              48
16    SHP_3122    443.4600              30
17    SHP_6228  13255.9300              25
18    SHP_6171    283.1300              45
19    SHP_1378     41.9700              12
20    SHP_1378     57.1700              18
21    SHP_1378     81.2500              11
22    SHP_1377   3202.2500              44
23    SHP_1378     35.6400              10
24    SHP_3525    197.6100              13
25    SHP_3204     38.2600              22
26    SHP_3367    109.5800              13
27    SHP_3300   1062.6900              28
28    SHP_3527   3594.7435              38
29    SHP_3395    139.9800              33
...        ...         ...             ...
8369  SHP_5031   1169.2600              41
8370  SHP_3690     62.7800              20
8371  SHP_3591   4924.1350              28
8372  SHP_3806     56.9000               7
8373  SHP_3560    106.6400              30
8374  SHP_3637   1082.6600              14
8375  SHP_3806   1413.8200              47
8376  SHP_3590   1211.0000              36
8377  SHP_3729     34.0100              12
8378  SHP_3705   1361.9100              20
8379  SHP_3730   1008.9500              41
8380  SHP_3807    308.9200              45
8381  SHP_3691   2836.0505              25
8382  SHP_3636    120.9800              28
8383  SHP_3731   3508.3300              21
8384  SHP_6435     59.6200              10
8385  SHP_2527    611.1600              46
8386  SHP_3189    121.8700              39
8387  SHP_3019     41.0600               4
8388  SHP_6165    994.0400              10
8389  SHP_6192    159.4100              44
8390  SHP_7594    316.9900              47
8391  SHP_7594   1991.8985              20
8392  SHP_7519    181.5000              43
8393  SHP_7470    356.7200               9
8394  SHP_7479   2841.4395              28
8395  SHP_7555    127.1600              20
8396  SHP_7524    243.0500              39
8397  SHP_7469   3872.8700              23
8398  SHP_7628    603.6900              47

[8399 rows x 3 columns]

In [196]:
market.loc[3:8:2]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [197]:
market[3:8:2]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55

In [198]:
# How many unique products are there
market.Prod_id.nunique()

17

In [199]:
# What is the maximum sales
market['Sales'].max()

89061.05

cust_dimen.csv
- Read the cust_dimen data into cust_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Merge comb_data and cust_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Customer_Segment"

In [200]:
# Read the cust_dimen data into cust
cust=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/cust_dimen.csv')
cust

           Customer_Name Province   Region Customer_Segment    Cust_id
0     MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS     Cust_1
1           BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER     Cust_2
2          CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE     Cust_3
3         CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER     Cust_4
4           CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE     Cust_5
5         MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE     Cust_6
6        DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE     Cust_7
7        NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE     Cust_8
8            CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE     Cust_9
9          CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_10
10      ALLEN ROSENBLATT  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_11
11       SYLVIA FOULSTON  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_12
12           JIM RADFORD  NUNAVUT  NUNAVUT        CORPORATE    Cust_13
13           CARL LUDWIG  NUNAVUT  NUNAVUT        CORPORATE    Cust_14
14            DON MILLER  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_15
15          ANNIE CYPRUS  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_16
16         GRANT CARROLL  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_17
17           ALAN BARNES  NUNAVUT  NUNAVUT        CORPORATE    Cust_18
18            JACK GARZA  NUNAVUT  NUNAVUT        CORPORATE    Cust_19
19            JULIA WEST  NUNAVUT  NUNAVUT        CORPORATE    Cust_20
20        EUGENE BARCHAS  NUNAVUT  NUNAVUT        CORPORATE    Cust_21
21          EDWARD HOOKS  NUNAVUT  NUNAVUT         CONSUMER    Cust_22
22            BRAD EASON  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_23
23         NICOLE HANSEN  NUNAVUT  NUNAVUT   SMALL BUSINESS    Cust_24
24        DOROTHY WARDLE  NUNAVUT  NUNAVUT        CORPORATE    Cust_25
25         AARON BERGMAN  NUNAVUT  NUNAVUT        CORPORATE    Cust_26
26             DON JONES  NUNAVUT  NUNAVUT        CORPORATE    Cust_27
27         BETH THOMPSON  NUNAVUT  NUNAVUT        CORPORATE    Cust_28
28           FRANK PRICE  NUNAVUT  NUNAVUT        CORPORATE    Cust_29
29     MICHELLE LONSDALE  NUNAVUT  NUNAVUT      HOME OFFICE    Cust_30
...                  ...      ...      ...              ...        ...
1802       TONJA TURNELL  ALBERTA     WEST         CONSUMER  Cust_1803
1803       BRENDAN SWEED  ALBERTA     WEST         CONSUMER  Cust_1804
1804          TONY SAYRE  ALBERTA     WEST      HOME OFFICE  Cust_1805
1805        JIM KARLSSON  ALBERTA     WEST   SMALL BUSINESS  Cust_1806
1806            ROY PHAN  ALBERTA     WEST        CORPORATE  Cust_1807
1807       STEVEN ROELLE  ALBERTA     WEST   SMALL BUSINESS  Cust_1808
1808  CHRISTOPHER CONANT  ALBERTA     WEST         CONSUMER  Cust_1809
1809      ANDREW ROBERTS  ALBERTA     WEST      HOME OFFICE  Cust_1810
1810         CYMA KINNEY  ALBERTA     WEST   SMALL BUSINESS  Cust_1811
1811   CHRISTINE ABELMAN  ALBERTA     WEST        CORPORATE  Cust_1812
1812         ERICA SMITH  ALBERTA     WEST   SMALL BUSINESS  Cust_1813
1813  CHRISTOPHER CONANT  ALBERTA     WEST      HOME OFFICE  Cust_1814
1814         SARAH BROWN  ALBERTA     WEST         CONSUMER  Cust_1815
1815            SHUI TOM  ALBERTA     WEST      HOME OFFICE  Cust_1816
1816        FRANK HAWLEY  ALBERTA     WEST      HOME OFFICE  Cust_1817
1817       AARON BERGMAN  ALBERTA     WEST        CORPORATE  Cust_1818
1818    VICTORIA BRENNAN  ALBERTA     WEST   SMALL BUSINESS  Cust_1819
1819        ADRIAN SHAMI  ALBERTA     WEST         CONSUMER  Cust_1820
1820       PHILLINA OBER  ALBERTA     WEST   SMALL BUSINESS  Cust_1821
1821      ANDREW ROBERTS  ALBERTA     WEST   SMALL BUSINESS  Cust_1822
1822     JEREMY LONSDALE  ALBERTA     WEST        CORPORATE  Cust_1823
1823            SHUI TOM  ALBERTA     WEST         CONSUMER  Cust_1824
1824          ANDY YOTOV  ALBERTA     WEST        CORPORATE  Cust_1825
1825      NICOLE BRENNAN  ALBERTA     WEST      HOME OFFICE  Cust_1826
1826      JESSICA MYRICK  ALBERTA     WEST   SMALL BUSINESS  Cust_1827
1827      NICOLE BRENNAN  ALBERTA     WEST         CONSUMER  Cust_1828
1828       JASON FORTUNE  ALBERTA     WEST        CORPORATE  Cust_1829
1829        HARRY GREENE  ALBERTA     WEST        CORPORATE  Cust_1830
1830     GRANT DONATELLI  ALBERTA     WEST         CONSUMER  Cust_1831
1831          MICK BROWN  ALBERTA     WEST         CONSUMER  Cust_1832

[1832 rows x 5 columns]

In [201]:
# Display the top two rows
cust.head(5)

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [202]:
# Display the last three rows
cust.tail(3)

        Customer_Name Province Region Customer_Segment    Cust_id
1829     HARRY GREENE  ALBERTA   WEST        CORPORATE  Cust_1830
1830  GRANT DONATELLI  ALBERTA   WEST         CONSUMER  Cust_1831
1831       MICK BROWN  ALBERTA   WEST         CONSUMER  Cust_1832

In [203]:
# Select one row randomly
cust.sample()

     Customer_Name  Province  Region Customer_Segment    Cust_id
1158     KEN BLACK  MANITOBA  PRARIE         CONSUMER  Cust_1159

In [204]:
# Check the total number of entries(rows)
cust.shape[0]

1832

In [205]:
# Check the No of features
cust.shape[1]

5

In [206]:
# How many unique customers are there
cust.Customer_Name.nunique()

795

In [207]:
#Print features Names(Column Names)
cust.columns

Index(['Customer_Name', 'Province', 'Region', 'Customer_Segment', 'Cust_id'], dtype='object')

In [208]:
# Check the dtype of each and every columns
cust.dtypes

Customer_Name       object
Province            object
Region              object
Customer_Segment    object
Cust_id             object
dtype: object

In [214]:
# Merge comb_data and cust_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,cust)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,OFFICE SUPPLIES,PENS & ART SUPPLIES,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,TECHNOLOGY,TELEPHONES AND COMMUNICATION,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,OFFICE SUPPLIES,PAPER,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,OFFICE SUPPLIES,PAPER,AARON BERGMAN,ALBERTA,WEST,CORPORATE
5,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,TECHNOLOGY,OFFICE MACHINES,AARON BERGMAN,ALBERTA,WEST,CORPORATE
6,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE
7,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.8200,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
8,Ord_5430,Prod_4,SHP_7588,Cust_1820,337.2035,0.09,9,-120.93,4.99,0.56,TECHNOLOGY,TELEPHONES AND COMMUNICATION,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
9,Ord_5462,Prod_4,SHP_7632,Cust_1820,175.8565,0.03,10,-93.26,1.25,0.83,TECHNOLOGY,TELEPHONES AND COMMUNICATION,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
10,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.9200,0.00,7,-129.57,19.99,0.52,TECHNOLOGY,OFFICE MACHINES,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
11,Ord_5462,Prod_5,SHP_7631,Cust_1820,323.9600,0.07,40,-136.82,7.96,0.49,FURNITURE,OFFICE FURNISHINGS,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
12,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.36,58.20,0.58,FURNITURE,CHAIRS & CHAIRMATS,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
13,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.0800,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE
14,Ord_3731,Prod_13,SHP_5176,Cust_1314,193.7000,0.06,20,-14.99,4.82,0.47,OFFICE SUPPLIES,PENS & ART SUPPLIES,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE
15,Ord_3733,Prod_4,SHP_5178,Cust_1314,553.3415,0.08,33,-67.71,0.99,0.83,TECHNOLOGY,TELEPHONES AND COMMUNICATION,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE
16,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.2100,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE
17,Ord_4143,Prod_6,SHP_5770,Cust_1417,901.3200,0.10,25,338.01,5.08,0.38,OFFICE SUPPLIES,PAPER,ALLEN ARMOLD,NEW BRUNSWICK,ATLANTIC,HOME OFFICE
18,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.0900,0.09,9,-13.53,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
19,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.0600,0.02,49,30.97,0.70,0.56,OFFICE SUPPLIES,PENS & ART SUPPLIES,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
20,Ord_4830,Prod_6,SHP_6731,Cust_1659,158.9100,0.06,24,-38.57,5.20,0.37,OFFICE SUPPLIES,PAPER,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
21,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.0900,0.04,6,-15.20,9.54,0.37,OFFICE SUPPLIES,PAPER,ALYSSA TATE,BRITISH COLUMBIA,WEST,SMALL BUSINESS
22,Ord_1854,Prod_16,SHP_2548,Cust_727,182.4700,0.05,17,-3.18,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",AMY COX,NOVA SCOTIA,ATLANTIC,SMALL BUSINESS
23,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.0200,0.07,9,-24.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",AMY COX,YUKON,YUKON,CORPORATE
24,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.4000,0.00,39,2.02,7.42,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",AMY HUNT,SASKACHEWAN,PRARIE,SMALL BUSINESS
25,Ord_4078,Prod_6,SHP_5685,Cust_1388,241.9200,0.10,26,67.71,2.27,0.36,OFFICE SUPPLIES,PAPER,AMY HUNT,SASKACHEWAN,PRARIE,SMALL BUSINESS
26,Ord_4023,Prod_6,SHP_5599,Cust_1388,144.9500,0.08,7,10.82,5.86,0.38,OFFICE SUPPLIES,PAPER,AMY HUNT,SASKACHEWAN,PRARIE,SMALL BUSINESS
27,Ord_4023,Prod_5,SHP_5598,Cust_1388,486.4300,0.00,15,285.35,3.92,0.44,FURNITURE,OFFICE FURNISHINGS,AMY HUNT,SASKACHEWAN,PRARIE,SMALL BUSINESS
28,Ord_4080,Prod_7,SHP_5687,Cust_1388,10.6200,0.07,3,-3.96,1.35,0.40,OFFICE SUPPLIES,RUBBER BANDS,AMY HUNT,SASKACHEWAN,PRARIE,SMALL BUSINESS
29,Ord_4096,Prod_1,SHP_5708,Cust_1388,7922.6900,0.10,21,1558.79,19.99,0.58,OFFICE SUPPLIES,STORAGE & ORGANIZATION,AMY HUNT,SASKACHEWAN,PRARIE,SMALL BUSINESS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_4566,Prod_8,SHP_6353,Cust_1515,676.6900,0.09,21,138.10,1.99,0.43,TECHNOLOGY,COMPUTER PERIPHERALS,CYRA REITEN,YUKON,YUKON,CONSUMER
8370,Ord_4412,Prod_8,SHP_6149,Cust_1515,268.5500,0.10,36,-99.02,2.83,0.77,TECHNOLOGY,COMPUTER PERIPHERALS,CYRA REITEN,YUKON,YUKON,CONSUMER
8371,Ord_4566,Prod_14,SHP_6354,Cust_1515,13698.9600,0.05,4,-9078.94,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,CYRA REITEN,YUKON,YUKON,CONSUMER
8372,Ord_727,Prod_8,SHP_992,Cust_252,302.0500,0.00,9,-58.81,6.50,0.64,TECHNOLOGY,COMPUTER PERIPHERALS,DANIEL BYRD,BRITISH COLUMBIA,WEST,HOME OFFICE
8373,Ord_1368,Prod_8,SHP_2873,Cust_803,1100.2100,0.03,50,433.59,1.99,0.43,TECHNOLOGY,COMPUTER PERIPHERALS,DAVE HALLSTEN,QUEBEC,QUEBEC,HOME OFFICE
8374,Ord_1676,Prod_8,SHP_2824,Cust_779,21.8400,0.02,4,-25.31,2.39,0.72,TECHNOLOGY,COMPUTER PERIPHERALS,DAVID SMITH,NOVA SCOTIA,ATLANTIC,SMALL BUSINESS
8375,Ord_2980,Prod_8,SHP_4114,Cust_1091,1854.9400,0.04,6,-559.78,7.18,0.48,TECHNOLOGY,COMPUTER PERIPHERALS,DIANNA WILSON,ONTARIO,ONTARIO,SMALL BUSINESS
8376,Ord_2995,Prod_8,SHP_4143,Cust_1113,677.9000,0.05,20,196.36,1.99,0.45,TECHNOLOGY,COMPUTER PERIPHERALS,ELENI MCCRARY,ONTARIO,ONTARIO,CORPORATE
8377,Ord_1804,Prod_8,SHP_4104,Cust_1083,1285.5500,0.09,26,-17.03,19.99,0.41,TECHNOLOGY,COMPUTER PERIPHERALS,ERIC BARRETO,ONTARIO,ONTARIO,SMALL BUSINESS
8378,Ord_2992,Prod_8,SHP_4139,Cust_1110,1177.5000,0.02,34,420.05,1.99,0.45,TECHNOLOGY,COMPUTER PERIPHERALS,GIULIETTA DORTCH,ONTARIO,ONTARIO,CORPORATE
8379,Ord_24,Prod_8,SHP_32,Cust_19,1078.4900,0.08,27,252.66,1.99,0.55,TECHNOLOGY,COMPUTER PERIPHERALS,JACK GARZA,NUNAVUT,NUNAVUT,CORPORATE
8380,Ord_1860,Prod_8,SHP_2554,Cust_654,2925.7800,0.03,29,1041.29,7.18,0.40,TECHNOLOGY,COMPUTER PERIPHERALS,JANET MARTIN,NEWFOUNDLAND,ATLANTIC,CORPORATE
8381,Ord_3912,Prod_8,SHP_7643,Cust_1823,269.1400,0.10,8,-160.72,9.02,0.75,TECHNOLOGY,COMPUTER PERIPHERALS,JEREMY LONSDALE,ALBERTA,WEST,CORPORATE
8382,Ord_1887,Prod_8,SHP_2590,Cust_1505,337.3400,0.06,9,-69.84,1.99,0.54,TECHNOLOGY,COMPUTER PERIPHERALS,KAREN CARLISLE,YUKON,YUKON,CORPORATE
8383,Ord_2051,Prod_8,SHP_2804,Cust_1637,1711.7900,0.01,49,812.32,1.99,0.41,TECHNOLOGY,COMPUTER PERIPHERALS,KEITH HERRERA,BRITISH COLUMBIA,WEST,SMALL BUSINESS
8384,Ord_1016,Prod_8,SHP_1406,Cust_383,138.0500,0.09,19,-100.49,5.53,0.69,TECHNOLOGY,COMPUTER PERIPHERALS,KEN HEIDEL,MANITOBA,PRARIE,CORPORATE
8385,Ord_3676,Prod_8,SHP_5095,Cust_1294,1008.1900,0.03,23,210.01,1.99,0.55,TECHNOLOGY,COMPUTER PERIPHERALS,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER
8386,Ord_3665,Prod_8,SHP_5080,Cust_1294,401.1400,0.10,10,-131.03,6.50,0.74,TECHNOLOGY,COMPUTER PERIPHERALS,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER
8387,Ord_3676,Prod_8,SHP_5095,Cust_1294,2440.2600,0.00,50,917.28,1.99,0.55,TECHNOLOGY,COMPUTER PERIPHERALS,LIZ PRICE,SASKACHEWAN,PRARIE,CONSUMER
8388,Ord_961,Prod_8,SHP_1330,Cust_350,2575.0100,0.09,27,231.46,19.99,0.52,TECHNOLOGY,COMPUTER PERIPHERALS,MICHAEL GRANLUND,BRITISH COLUMBIA,WEST,HOME OFFICE
8389,Ord_1795,Prod_8,SHP_2487,Cust_606,303.6200,0.02,46,-59.98,2.74,0.71,TECHNOLOGY,COMPUTER PERIPHERALS,RAYMOND FAIR,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS
8390,Ord_4350,Prod_8,SHP_6065,Cust_1476,82.7200,0.08,6,-29.71,1.99,0.49,TECHNOLOGY,COMPUTER PERIPHERALS,ROLAND FJELD,YUKON,YUKON,CORPORATE
8391,Ord_4567,Prod_8,SHP_6355,Cust_1476,925.4300,0.00,28,368.86,1.99,0.42,TECHNOLOGY,COMPUTER PERIPHERALS,ROLAND FJELD,YUKON,YUKON,CORPORATE
8392,Ord_943,Prod_8,SHP_1304,Cust_337,38.9900,0.09,23,-33.52,1.99,0.51,TECHNOLOGY,COMPUTER PERIPHERALS,SALLY MATTHIAS,BRITISH COLUMBIA,WEST,HOME OFFICE
8393,Ord_1202,Prod_8,SHP_1659,Cust_461,796.0800,0.05,39,30.29,4.00,0.68,TECHNOLOGY,COMPUTER PERIPHERALS,SHIRLEY SCHMIDT,ONTARIO,ONTARIO,CORPORATE
8394,Ord_973,Prod_8,SHP_1343,Cust_357,29.0500,0.08,4,-20.90,4.32,0.64,TECHNOLOGY,COMPUTER PERIPHERALS,THEONE PIPPENGER,BRITISH COLUMBIA,WEST,CORPORATE
8395,Ord_1832,Prod_8,SHP_2526,Cust_636,57.0300,0.00,7,-31.38,3.52,0.68,TECHNOLOGY,COMPUTER PERIPHERALS,TOM PRESCOTT,NEWFOUNDLAND,ATLANTIC,SMALL BUSINESS
8396,Ord_2010,Prod_8,SHP_2748,Cust_760,282.5800,0.10,36,21.68,1.99,0.52,TECHNOLOGY,COMPUTER PERIPHERALS,TRACY PODDAR,NOVA SCOTIA,ATLANTIC,CORPORATE
8397,Ord_2988,Prod_14,SHP_4132,Cust_1105,9262.3500,0.09,47,2787.59,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,BECKY MARTIN,ONTARIO,ONTARIO,HOME OFFICE
8398,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.6100,0.02,3,196.08,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,LYCORIS SAUNDERS,ONTARIO,ONTARIO,HOME OFFICE

In [ ]:
# check the number of rows and columns in comb_data.
comb_data.shape

In [ ]:
# In the comb_data check the value counts in "Customer_Segment"
comb_data.Customer_Segment.value_counts()

Prod_dimen.csv
- Read the Prod_diment data into prod_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Merge Market_df and Prod_pf creaate new datarame with comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Product_Category" and "Product_Sub_Category" columns

In [212]:
# Read the Prod_diment data
product=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/prod_dimen.csv')
product

   Product_Category            Product_Sub_Category  Prod_id
0   OFFICE SUPPLIES          STORAGE & ORGANIZATION   Prod_1
1   OFFICE SUPPLIES                      APPLIANCES   Prod_2
2   OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES   Prod_3
3        TECHNOLOGY    TELEPHONES AND COMMUNICATION   Prod_4
4         FURNITURE              OFFICE FURNISHINGS   Prod_5
5   OFFICE SUPPLIES                           PAPER   Prod_6
6   OFFICE SUPPLIES                    RUBBER BANDS   Prod_7
7        TECHNOLOGY            COMPUTER PERIPHERALS   Prod_8
8   OFFICE SUPPLIES                       ENVELOPES   Prod_9
9         FURNITURE                       BOOKCASES  Prod_10
10        FURNITURE                          TABLES  Prod_11
11  OFFICE SUPPLIES                          LABELS  Prod_12
12  OFFICE SUPPLIES             PENS & ART SUPPLIES  Prod_13
13       TECHNOLOGY                 COPIERS AND FAX  Prod_14
14        FURNITURE              CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES   SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                 OFFICE MACHINES  Prod_17

In [215]:
product.Product_Category.nunique()

3

In [216]:
# Display the top two rows
product.head(2)

  Product_Category    Product_Sub_Category Prod_id
0  OFFICE SUPPLIES  STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES              APPLIANCES  Prod_2

In [217]:
product.tail(3)

   Product_Category           Product_Sub_Category  Prod_id
14        FURNITURE             CHAIRS & CHAIRMATS  Prod_15
15  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS  Prod_16
16       TECHNOLOGY                OFFICE MACHINES  Prod_17

In [218]:
product.sample()

  Product_Category          Product_Sub_Category Prod_id
3       TECHNOLOGY  TELEPHONES AND COMMUNICATION  Prod_4

In [219]:
product.shape[0]

17

In [220]:
product.columns

Index(['Product_Category', 'Product_Sub_Category', 'Prod_id'], dtype='object')

In [221]:
type(product['Product_Category'])

pandas.core.series.Series

In [222]:
type(product['Product_Sub_Category'])

pandas.core.series.Series

In [223]:
type(product['Prod_id'])

pandas.core.series.Series

In [224]:
# Merge Market_df and Prod_pf creaate new datarame with comb_data
comb_data=pd.merge(market,product)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
5,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
6,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
7,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
8,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.40,0.00,39,2.02,7.42,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
9,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
10,Ord_1579,Prod_16,SHP_2178,Cust_566,139.37,0.04,16,1.72,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
11,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
12,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
13,Ord_2873,Prod_16,SHP_3957,Cust_1052,138.55,0.03,16,0.90,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
14,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
15,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
16,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
17,Ord_2385,Prod_16,SHP_3273,Cust_939,138.84,0.00,15,8.75,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
18,Ord_4307,Prod_16,SHP_6011,Cust_1440,395.37,0.07,37,17.15,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
19,Ord_4328,Prod_16,SHP_6033,Cust_1440,103.03,0.07,49,-82.63,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
20,Ord_4031,Prod_16,SHP_5613,Cust_1391,171.50,0.02,16,-20.41,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
21,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
22,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
23,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
24,Ord_1968,Prod_16,SHP_2692,Cust_1623,576.58,0.04,41,-81.55,7.59,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
25,Ord_4593,Prod_16,SHP_6388,Cust_1457,413.37,0.04,50,-224.41,7.77,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
26,Ord_279,Prod_16,SHP_378,Cust_113,399.58,0.04,46,-188.53,7.77,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
27,Ord_1793,Prod_16,SHP_2484,Cust_826,482.93,0.06,34,-67.59,7.59,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
28,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
29,Ord_5169,Prod_16,SHP_7226,Cust_1757,210.24,0.00,34,-31.67,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3903,Prod_14,SHP_5417,Cust_1334,3457.99,0.05,1,-11861.46,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8370,Ord_1699,Prod_14,SHP_2353,Cust_586,10567.45,0.10,38,2925.37,11.64,0.50,TECHNOLOGY,COPIERS AND FAX
8371,Ord_2164,Prod_14,SHP_2950,Cust_812,1294.35,0.06,3,-1569.06,24.49,0.40,TECHNOLOGY,COPIERS AND FAX
8372,Ord_3629,Prod_14,SHP_5026,Cust_1260,13934.53,0.10,50,4352.83,11.64,0.50,TECHNOLOGY,COPIERS AND FAX
8373,Ord_4166,Prod_14,SHP_5804,Cust_1401,21956.03,0.10,38,5903.09,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8374,Ord_3073,Prod_14,SHP_4267,Cust_1142,3550.28,0.06,1,-11769.17,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8375,Ord_1791,Prod_14,SHP_2711,Cust_685,21717.36,0.06,32,8249.86,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8376,Ord_3297,Prod_14,SHP_4573,Cust_1230,13571.70,0.00,29,3825.69,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8377,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8378,Ord_1479,Prod_14,SHP_2042,Cust_522,14240.76,0.06,25,3128.69,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8379,Ord_1943,Prod_14,SHP_2661,Cust_720,6813.93,0.09,16,358.19,49.00,0.38,TECHNOLOGY,COPIERS AND FAX
8380,Ord_778,Prod_14,SHP_1067,Cust_262,7813.70,0.09,40,2154.33,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8381,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8382,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8383,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8384,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8385,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8386,Ord_171,Prod_14,SHP_231,Cust_1194,6350.29,0.02,10,-735.97,24.49,0.50,TECHNOLOGY,COPIERS AND FAX
8387,Ord_1390,Prod_14,SHP_1919,Cust_537,6933.45,0.04,15,1200.21,49.00,0.38,TECHNOLOGY,COPIERS AND FAX
8388,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,TECHNOLOGY,COPIERS AND FAX
8389,Ord_1767,Prod_14,SHP_2450,Cust_583,16743.76,0.00,23,6079.63,24.49,0.41,TECHNOLOGY,COPIERS AND FAX
8390,Ord_546,Prod_14,SHP_858,Cust_198,27875.54,0.00,46,-635.69,24.49,0.44,TECHNOLOGY,COPIERS AND FAX
8391,Ord_5401,Prod_14,SHP_7543,Cust_1801,10281.79,0.03,20,3272.90,24.49,0.36,TECHNOLOGY,COPIERS AND FAX
8392,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8393,Ord_4106,Prod_14,SHP_5720,Cust_1397,11829.40,0.07,20,3899.72,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8394,Ord_5467,Prod_14,SHP_7639,Cust_1803,5964.19,0.10,33,988.20,24.49,0.46,TECHNOLOGY,COPIERS AND FAX
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TECHNOLOGY,COPIERS AND FAX
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,TECHNOLOGY,COPIERS AND FAX
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,TECHNOLOGY,COPIERS AND FAX

In [225]:
# check the number of rows and columns in comb_data
comb_data.shape

(8399, 12)

In [ ]:
# In the comb_data check the value counts in "Product_Category" and "Product_Sub_Category" columns
comb_data.Product_Category.value_counts()

In [ ]:
comb_data.Product_Sub_Category.value_counts()

In [227]:
shipping=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/shipping_dimen.csv')
shipping

      Order_ID       Ship_Mode   Ship_Date   Ship_id
0            3     REGULAR AIR  20-10-2010     SHP_1
1          293  DELIVERY TRUCK  02-10-2012     SHP_2
2          293     REGULAR AIR  03-10-2012     SHP_3
3          483     REGULAR AIR  12-07-2011     SHP_4
4          515     REGULAR AIR  30-08-2010     SHP_5
5          613     REGULAR AIR  17-06-2011     SHP_6
6          613     REGULAR AIR  18-06-2011     SHP_7
7          643     EXPRESS AIR  25-03-2011     SHP_8
8          678     REGULAR AIR  26-02-2010     SHP_9
9          807     REGULAR AIR  24-11-2010    SHP_10
10         868     REGULAR AIR  09-06-2012    SHP_11
11         868     REGULAR AIR  10-06-2012    SHP_12
12         933     REGULAR AIR  04-08-2012    SHP_13
13         995     REGULAR AIR  31-05-2011    SHP_14
14         998     REGULAR AIR  26-11-2009    SHP_15
15        1154  DELIVERY TRUCK  16-02-2012    SHP_16
16        1154     REGULAR AIR  16-02-2012    SHP_17
17        1344     REGULAR AIR  22-04-2012    SHP_18
18        1344     REGULAR AIR  19-04-2012    SHP_19
19        1412     EXPRESS AIR  14-03-2010    SHP_20
20        1412     REGULAR AIR  14-03-2010    SHP_21
21        1539     REGULAR AIR  11-03-2011    SHP_22
22        1539     REGULAR AIR  14-03-2011    SHP_23
23        1540     REGULAR AIR  06-08-2012    SHP_24
24        1702     REGULAR AIR  07-05-2011    SHP_25
25        1761  DELIVERY TRUCK  25-12-2010    SHP_26
26        1792     REGULAR AIR  13-11-2010    SHP_27
27        2275     REGULAR AIR  22-10-2012    SHP_28
28        2277     REGULAR AIR  02-01-2011    SHP_29
29        2277     REGULAR AIR  03-01-2011    SHP_30
...        ...             ...         ...       ...
7671     57125     REGULAR AIR  05-06-2010  SHP_7672
7672     57152     REGULAR AIR  03-09-2012  SHP_7673
7673     57152     REGULAR AIR  10-09-2012  SHP_7674
7674     57216  DELIVERY TRUCK  29-07-2010  SHP_7675
7675     57216     REGULAR AIR  31-07-2010  SHP_7676
7676     57281     REGULAR AIR  20-04-2010  SHP_7677
7677     57281  DELIVERY TRUCK  22-04-2010  SHP_7678
7678     57827  DELIVERY TRUCK  04-07-2009  SHP_7679
7679     57827     REGULAR AIR  03-07-2009  SHP_7680
7680     58949     REGULAR AIR  17-12-2012  SHP_7681
7681      1222     REGULAR AIR  04-02-2010  SHP_7682
7682      5767     EXPRESS AIR  29-04-2012  SHP_7683
7683      5767     REGULAR AIR  30-04-2012  SHP_7684
7684      8961  DELIVERY TRUCK  03-07-2011  SHP_7685
7685     11712     REGULAR AIR  28-04-2009  SHP_7686
7686     14883  DELIVERY TRUCK  11-05-2011  SHP_7687
7687     14883     REGULAR AIR  15-05-2011  SHP_7688
7688     20193     REGULAR AIR  09-11-2010  SHP_7689
7689     36772  DELIVERY TRUCK  17-05-2010  SHP_7690
7690     39492     REGULAR AIR  20-04-2011  SHP_7691
7691     46212     EXPRESS AIR  14-09-2012  SHP_7692
7692     46437     REGULAR AIR  17-09-2009  SHP_7693
7693     47360  DELIVERY TRUCK  10-10-2010  SHP_7694
7694     52706     EXPRESS AIR  16-07-2012  SHP_7695
7695     54279  DELIVERY TRUCK  31-07-2011  SHP_7696
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697
7697     55558     REGULAR AIR  11-08-2010  SHP_7698
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699
7699     56550     REGULAR AIR  09-04-2011  SHP_7700
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701

[7701 rows x 4 columns]

In [228]:
# Display the top two rows
shipping.head(2)

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2

In [229]:
# Display the last three rows
shipping.tail(3)

      Order_ID    Ship_Mode   Ship_Date   Ship_id
7698     56550  EXPRESS AIR  10-04-2011  SHP_7699
7699     56550  REGULAR AIR  09-04-2011  SHP_7700
7700     56581  EXPRESS AIR  11-02-2009  SHP_7701

In [230]:
# Select one row randomly
shipping.sample()

      Order_ID    Ship_Mode   Ship_Date   Ship_id
1215      3361  REGULAR AIR  23-08-2012  SHP_1216

In [231]:
# Check the total number of entries you have
shipping.shape[0]

7701

In [232]:
# Check the No of features
shipping.shape[1]

4

In [233]:
# Print features Names(Column Names)
shipping.columns

Index(['Order_ID', 'Ship_Mode', 'Ship_Date', 'Ship_id'], dtype='object')

In [234]:
# Check the dtype of each and every columns
shipping.dtypes

Order_ID      int64
Ship_Mode    object
Ship_Date    object
Ship_id      object
dtype: object

In [235]:
# Check the "Ship_Date" column type if it is object convert it into datetime
shipping.Ship_Date.dtype

dtype('O')

In [236]:
shipping['Ship_Date_dt']=pd.to_datetime(shipping.Ship_Date)
shipping

      Order_ID       Ship_Mode   Ship_Date   Ship_id Ship_Date_dt
0            3     REGULAR AIR  20-10-2010     SHP_1   2010-10-20
1          293  DELIVERY TRUCK  02-10-2012     SHP_2   2012-02-10
2          293     REGULAR AIR  03-10-2012     SHP_3   2012-03-10
3          483     REGULAR AIR  12-07-2011     SHP_4   2011-12-07
4          515     REGULAR AIR  30-08-2010     SHP_5   2010-08-30
5          613     REGULAR AIR  17-06-2011     SHP_6   2011-06-17
6          613     REGULAR AIR  18-06-2011     SHP_7   2011-06-18
7          643     EXPRESS AIR  25-03-2011     SHP_8   2011-03-25
8          678     REGULAR AIR  26-02-2010     SHP_9   2010-02-26
9          807     REGULAR AIR  24-11-2010    SHP_10   2010-11-24
10         868     REGULAR AIR  09-06-2012    SHP_11   2012-09-06
11         868     REGULAR AIR  10-06-2012    SHP_12   2012-10-06
12         933     REGULAR AIR  04-08-2012    SHP_13   2012-04-08
13         995     REGULAR AIR  31-05-2011    SHP_14   2011-05-31
14         998     REGULAR AIR  26-11-2009    SHP_15   2009-11-26
15        1154  DELIVERY TRUCK  16-02-2012    SHP_16   2012-02-16
16        1154     REGULAR AIR  16-02-2012    SHP_17   2012-02-16
17        1344     REGULAR AIR  22-04-2012    SHP_18   2012-04-22
18        1344     REGULAR AIR  19-04-2012    SHP_19   2012-04-19
19        1412     EXPRESS AIR  14-03-2010    SHP_20   2010-03-14
20        1412     REGULAR AIR  14-03-2010    SHP_21   2010-03-14
21        1539     REGULAR AIR  11-03-2011    SHP_22   2011-11-03
22        1539     REGULAR AIR  14-03-2011    SHP_23   2011-03-14
23        1540     REGULAR AIR  06-08-2012    SHP_24   2012-06-08
24        1702     REGULAR AIR  07-05-2011    SHP_25   2011-07-05
25        1761  DELIVERY TRUCK  25-12-2010    SHP_26   2010-12-25
26        1792     REGULAR AIR  13-11-2010    SHP_27   2010-11-13
27        2275     REGULAR AIR  22-10-2012    SHP_28   2012-10-22
28        2277     REGULAR AIR  02-01-2011    SHP_29   2011-02-01
29        2277     REGULAR AIR  03-01-2011    SHP_30   2011-03-01
...        ...             ...         ...       ...          ...
7671     57125     REGULAR AIR  05-06-2010  SHP_7672   2010-05-06
7672     57152     REGULAR AIR  03-09-2012  SHP_7673   2012-03-09
7673     57152     REGULAR AIR  10-09-2012  SHP_7674   2012-10-09
7674     57216  DELIVERY TRUCK  29-07-2010  SHP_7675   2010-07-29
7675     57216     REGULAR AIR  31-07-2010  SHP_7676   2010-07-31
7676     57281     REGULAR AIR  20-04-2010  SHP_7677   2010-04-20
7677     57281  DELIVERY TRUCK  22-04-2010  SHP_7678   2010-04-22
7678     57827  DELIVERY TRUCK  04-07-2009  SHP_7679   2009-04-07
7679     57827     REGULAR AIR  03-07-2009  SHP_7680   2009-03-07
7680     58949     REGULAR AIR  17-12-2012  SHP_7681   2012-12-17
7681      1222     REGULAR AIR  04-02-2010  SHP_7682   2010-04-02
7682      5767     EXPRESS AIR  29-04-2012  SHP_7683   2012-04-29
7683      5767     REGULAR AIR  30-04-2012  SHP_7684   2012-04-30
7684      8961  DELIVERY TRUCK  03-07-2011  SHP_7685   2011-03-07
7685     11712     REGULAR AIR  28-04-2009  SHP_7686   2009-04-28
7686     14883  DELIVERY TRUCK  11-05-2011  SHP_7687   2011-11-05
7687     14883     REGULAR AIR  15-05-2011  SHP_7688   2011-05-15
7688     20193     REGULAR AIR  09-11-2010  SHP_7689   2010-09-11
7689     36772  DELIVERY TRUCK  17-05-2010  SHP_7690   2010-05-17
7690     39492     REGULAR AIR  20-04-2011  SHP_7691   2011-04-20
7691     46212     EXPRESS AIR  14-09-2012  SHP_7692   2012-09-14
7692     46437     REGULAR AIR  17-09-2009  SHP_7693   2009-09-17
7693     47360  DELIVERY TRUCK  10-10-2010  SHP_7694   2010-10-10
7694     52706     EXPRESS AIR  16-07-2012  SHP_7695   2012-07-16
7695     54279  DELIVERY TRUCK  31-07-2011  SHP_7696   2011-07-31
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697   2010-09-08
7697     55558     REGULAR AIR  11-08-2010  SHP_7698   2010-11-08
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699   2011-10-04
7699     56550     REGULAR AIR  09-04-2011  SHP_7700   2011-09-04
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701   2009-11-02

[7701 rows x 5 columns]

In [237]:
shipping.Ship_Date.dtype

dtype('O')

In [238]:
shipping['Ship_Date']

0       20-10-2010
1       02-10-2012
2       03-10-2012
3       12-07-2011
4       30-08-2010
5       17-06-2011
6       18-06-2011
7       25-03-2011
8       26-02-2010
9       24-11-2010
10      09-06-2012
11      10-06-2012
12      04-08-2012
13      31-05-2011
14      26-11-2009
15      16-02-2012
16      16-02-2012
17      22-04-2012
18      19-04-2012
19      14-03-2010
20      14-03-2010
21      11-03-2011
22      14-03-2011
23      06-08-2012
24      07-05-2011
25      25-12-2010
26      13-11-2010
27      22-10-2012
28      02-01-2011
29      03-01-2011
           ...
7671    05-06-2010
7672    03-09-2012
7673    10-09-2012
7674    29-07-2010
7675    31-07-2010
7676    20-04-2010
7677    22-04-2010
7678    04-07-2009
7679    03-07-2009
7680    17-12-2012
7681    04-02-2010
7682    29-04-2012
7683    30-04-2012
7684    03-07-2011
7685    28-04-2009
7686    11-05-2011
7687    15-05-2011
7688    09-11-2010
7689    17-05-2010
7690    20-04-2011
7691    14-09-2012
7692    17-09-2009
7693    10-10-2010
7694    16-07-2012
7695    31-07-2011
7696    09-08-2010
7697    11-08-2010
7698    10-04-2011
7699    09-04-2011
7700    11-02-2009
Name: Ship_Date, Length: 7701, dtype: object

In [239]:
type(shipping['Ship_Date_dt'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [240]:
# Create two new columns Ship_Year and Ship_Month with year and month vcalues from Order_date
shipping['Ship_Month']=shipping['Ship_Date_dt'].dt.month
shipping

      Order_ID       Ship_Mode   Ship_Date   Ship_id Ship_Date_dt  Ship_Month
0            3     REGULAR AIR  20-10-2010     SHP_1   2010-10-20          10
1          293  DELIVERY TRUCK  02-10-2012     SHP_2   2012-02-10           2
2          293     REGULAR AIR  03-10-2012     SHP_3   2012-03-10           3
3          483     REGULAR AIR  12-07-2011     SHP_4   2011-12-07          12
4          515     REGULAR AIR  30-08-2010     SHP_5   2010-08-30           8
5          613     REGULAR AIR  17-06-2011     SHP_6   2011-06-17           6
6          613     REGULAR AIR  18-06-2011     SHP_7   2011-06-18           6
7          643     EXPRESS AIR  25-03-2011     SHP_8   2011-03-25           3
8          678     REGULAR AIR  26-02-2010     SHP_9   2010-02-26           2
9          807     REGULAR AIR  24-11-2010    SHP_10   2010-11-24          11
10         868     REGULAR AIR  09-06-2012    SHP_11   2012-09-06           9
11         868     REGULAR AIR  10-06-2012    SHP_12   2012-10-06          10
12         933     REGULAR AIR  04-08-2012    SHP_13   2012-04-08           4
13         995     REGULAR AIR  31-05-2011    SHP_14   2011-05-31           5
14         998     REGULAR AIR  26-11-2009    SHP_15   2009-11-26          11
15        1154  DELIVERY TRUCK  16-02-2012    SHP_16   2012-02-16           2
16        1154     REGULAR AIR  16-02-2012    SHP_17   2012-02-16           2
17        1344     REGULAR AIR  22-04-2012    SHP_18   2012-04-22           4
18        1344     REGULAR AIR  19-04-2012    SHP_19   2012-04-19           4
19        1412     EXPRESS AIR  14-03-2010    SHP_20   2010-03-14           3
20        1412     REGULAR AIR  14-03-2010    SHP_21   2010-03-14           3
21        1539     REGULAR AIR  11-03-2011    SHP_22   2011-11-03          11
22        1539     REGULAR AIR  14-03-2011    SHP_23   2011-03-14           3
23        1540     REGULAR AIR  06-08-2012    SHP_24   2012-06-08           6
24        1702     REGULAR AIR  07-05-2011    SHP_25   2011-07-05           7
25        1761  DELIVERY TRUCK  25-12-2010    SHP_26   2010-12-25          12
26        1792     REGULAR AIR  13-11-2010    SHP_27   2010-11-13          11
27        2275     REGULAR AIR  22-10-2012    SHP_28   2012-10-22          10
28        2277     REGULAR AIR  02-01-2011    SHP_29   2011-02-01           2
29        2277     REGULAR AIR  03-01-2011    SHP_30   2011-03-01           3
...        ...             ...         ...       ...          ...         ...
7671     57125     REGULAR AIR  05-06-2010  SHP_7672   2010-05-06           5
7672     57152     REGULAR AIR  03-09-2012  SHP_7673   2012-03-09           3
7673     57152     REGULAR AIR  10-09-2012  SHP_7674   2012-10-09          10
7674     57216  DELIVERY TRUCK  29-07-2010  SHP_7675   2010-07-29           7
7675     57216     REGULAR AIR  31-07-2010  SHP_7676   2010-07-31           7
7676     57281     REGULAR AIR  20-04-2010  SHP_7677   2010-04-20           4
7677     57281  DELIVERY TRUCK  22-04-2010  SHP_7678   2010-04-22           4
7678     57827  DELIVERY TRUCK  04-07-2009  SHP_7679   2009-04-07           4
7679     57827     REGULAR AIR  03-07-2009  SHP_7680   2009-03-07           3
7680     58949     REGULAR AIR  17-12-2012  SHP_7681   2012-12-17          12
7681      1222     REGULAR AIR  04-02-2010  SHP_7682   2010-04-02           4
7682      5767     EXPRESS AIR  29-04-2012  SHP_7683   2012-04-29           4
7683      5767     REGULAR AIR  30-04-2012  SHP_7684   2012-04-30           4
7684      8961  DELIVERY TRUCK  03-07-2011  SHP_7685   2011-03-07           3
7685     11712     REGULAR AIR  28-04-2009  SHP_7686   2009-04-28           4
7686     14883  DELIVERY TRUCK  11-05-2011  SHP_7687   2011-11-05          11
7687     14883     REGULAR AIR  15-05-2011  SHP_7688   2011-05-15           5
7688     20193     REGULAR AIR  09-11-2010  SHP_7689   2010-09-11           9
7689     36772  DELIVERY TRUCK  17-05-2010  SHP_7690   2010-05-17           5
7690     39492     REGULAR AIR  20-04-2011  SHP_7691   2011-04-20           4
7691     46212     EXPRESS AIR  14-09-2012  SHP_7692   2012-09-14           9
7692     46437     REGULAR AIR  17-09-2009  SHP_7693   2009-09-17           9
7693     47360  DELIVERY TRUCK  10-10-2010  SHP_7694   2010-10-10          10
7694     52706     EXPRESS AIR  16-07-2012  SHP_7695   2012-07-16           7
7695     54279  DELIVERY TRUCK  31-07-2011  SHP_7696   2011-07-31           7
7696     55558  DELIVERY TRUCK  09-08-2010  SHP_7697   2010-09-08           9
7697     55558     REGULAR AIR  11-08-2010  SHP_7698   2010-11-08          11
7698     56550     EXPRESS AIR  10-04-2011  SHP_7699   2011-10-04          10
7699     56550     REGULAR AIR  09-04-2011  SHP_7700   2011-09-04           9
7700     56581     EXPRESS AIR  11-02-2009  SHP_7701   2009-11-02          11

[7701 rows x 6 columns]

In [241]:
shipping['Ship_Year']=shipping['Ship_Date_dt'].dt.year
shipping

,Order_ID,Ship_Mode,Ship_Date,Ship_id,Ship_Date_dt,Ship_Month,Ship_Year
0,3,REGULAR AIR,20-10-2010,SHP_1,2010-10-20,10,2010
1,293,DELIVERY TRUCK,02-10-2012,SHP_2,2012-02-10,2,2012
2,293,REGULAR AIR,03-10-2012,SHP_3,2012-03-10,3,2012
3,483,REGULAR AIR,12-07-2011,SHP_4,2011-12-07,12,2011
4,515,REGULAR AIR,30-08-2010,SHP_5,2010-08-30,8,2010
5,613,REGULAR AIR,17-06-2011,SHP_6,2011-06-17,6,2011
6,613,REGULAR AIR,18-06-2011,SHP_7,2011-06-18,6,2011
7,643,EXPRESS AIR,25-03-2011,SHP_8,2011-03-25,3,2011
8,678,REGULAR AIR,26-02-2010,SHP_9,2010-02-26,2,2010
9,807,REGULAR AIR,24-11-2010,SHP_10,2010-11-24,11,2010
10,868,REGULAR AIR,09-06-2012,SHP_11,2012-09-06,9,2012
11,868,REGULAR AIR,10-06-2012,SHP_12,2012-10-06,10,2012
12,933,REGULAR AIR,04-08-2012,SHP_13,2012-04-08,4,2012
13,995,REGULAR AIR,31-05-2011,SHP_14,2011-05-31,5,2011
14,998,REGULAR AIR,26-11-2009,SHP_15,2009-11-26,11,2009
15,1154,DELIVERY TRUCK,16-02-2012,SHP_16,2012-02-16,2,2012
16,1154,REGULAR AIR,16-02-2012,SHP_17,2012-02-16,2,2012
17,1344,REGULAR AIR,22-04-2012,SHP_18,2012-04-22,4,2012
18,1344,REGULAR AIR,19-04-2012,SHP_19,2012-04-19,4,2012
19,1412,EXPRESS AIR,14-03-2010,SHP_20,2010-03-14,3,2010
20,1412,REGULAR AIR,14-03-2010,SHP_21,2010-03-14,3,2010
21,1539,REGULAR AIR,11-03-2011,SHP_22,2011-11-03,11,2011
22,1539,REGULAR AIR,14-03-2011,SHP_23,2011-03-14,3,2011
23,1540,REGULAR AIR,06-08-2012,SHP_24,2012-06-08,6,2012
24,1702,REGULAR AIR,07-05-2011,SHP_25,2011-07-05,7,2011
25,1761,DELIVERY TRUCK,25-12-2010,SHP_26,2010-12-25,12,2010
26,1792,REGULAR AIR,13-11-2010,SHP_27,2010-11-13,11,2010
27,2275,REGULAR AIR,22-10-2012,SHP_28,2012-10-22,10,2012
28,2277,REGULAR AIR,02-01-2011,SHP_29,2011-02-01,2,2011
29,2277,REGULAR AIR,03-01-2011,SHP_30,2011-03-01,3,2011
...,...,...,...,...,...,...,...
7671,57125,REGULAR AIR,05-06-2010,SHP_7672,2010-05-06,5,2010
7672,57152,REGULAR AIR,03-09-2012,SHP_7673,2012-03-09,3,2012
7673,57152,REGULAR AIR,10-09-2012,SHP_7674,2012-10-09,10,2012
7674,57216,DELIVERY TRUCK,29-07-2010,SHP_7675,2010-07-29,7,2010
7675,57216,REGULAR AIR,31-07-2010,SHP_7676,2010-07-31,7,2010
7676,57281,REGULAR AIR,20-04-2010,SHP_7677,2010-04-20,4,2010
7677,57281,DELIVERY TRUCK,22-04-2010,SHP_7678,2010-04-22,4,2010
7678,57827,DELIVERY TRUCK,04-07-2009,SHP_7679,2009-04-07,4,2009
7679,57827,REGULAR AIR,03-07-2009,SHP_7680,2009-03-07,3,2009
7680,58949,REGULAR AIR,17-12-2012,SHP_7681,2012-12-17,12,2012
7681,1222,REGULAR AIR,04-02-2010,SHP_7682,2010-04-02,4,2010
7682,5767,EXPRESS AIR,29-04-2012,SHP_7683,2012-04-29,4,2012
7683,5767,REGULAR AIR,30-04-2012,SHP_7684,2012-04-30,4,2012
7684,8961,DELIVERY TRUCK,03-07-2011,SHP_7685,2011-03-07,3,2011
7685,11712,REGULAR AIR,28-04-2009,SHP_7686,2009-04-28,4,2009
7686,14883,DELIVERY TRUCK,11-05-2011,SHP_7687,2011-11-05,11,2011
7687,14883,REGULAR AIR,15-05-2011,SHP_7688,2011-05-15,5,2011
7688,20193,REGULAR AIR,09-11-2010,SHP_7689,2010-09-11,9,2010
7689,36772,DELIVERY TRUCK,17-05-2010,SHP_7690,2010-05-17,5,2010
7690,39492,REGULAR AIR,20-04-2011,SHP_7691,2011-04-20,4,2011
7691,46212,EXPRESS AIR,14-09-2012,SHP_7692,2012-09-14,9,2012
7692,46437,REGULAR AIR,17-09-2009,SHP_7693,2009-09-17,9,2009
7693,47360,DELIVERY TRUCK,10-10-2010,SHP_7694,2010-10-10,10,2010
7694,52706,EXPRESS AIR,16-07-2012,SHP_7695,2012-07-16,7,2012
7695,54279,DELIVERY TRUCK,31-07-2011,SHP_7696,2011-07-31,7,2011
7696,55558,DELIVERY TRUCK,09-08-2010,SHP_7697,2010-09-08,9,2010
7697,55558,REGULAR AIR,11-08-2010,SHP_7698,2010-11-08,11,2010
7698,56550,EXPRESS AIR,10-04-2011,SHP_7699,2011-10-04,10,2011
7699,56550,REGULAR AIR,09-04-2011,SHP_7700,2011-09-04,9,2011
7700,56581,EXPRESS AIR,11-02-2009,SHP_7701,2009-11-02,11,2009

In [242]:
#  Merge comb_data and ord_df and write the reslut into comb_data
comb_data=pd.merge(comb_data,shipping)
comb_data

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Product_Category,Product_Sub_Category,Order_ID,Ship_Mode,Ship_Date,Ship_Date_dt,Ship_Month,Ship_Year
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,2010-07-28,7,2010
1,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,REGULAR AIR,26-02-2011,2011-02-26,2,2011
2,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,REGULAR AIR,03-03-2012,2012-03-03,3,2012
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009,2009-09-12,9,2009
4,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13920,REGULAR AIR,10-10-2009,2009-10-10,10,2009
5,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",55554,REGULAR AIR,17-11-2009,2009-11-17,11,2009
6,Ord_4796,Prod_6,SHP_6686,Cust_1659,122.09,0.04,6,-15.20,9.54,0.37,OFFICE SUPPLIES,PAPER,55554,REGULAR AIR,17-11-2009,2009-11-17,11,2009
7,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",48455,REGULAR AIR,03-06-2009,2009-03-06,3,2009
8,Ord_1854,Prod_6,SHP_2548,Cust_622,817.53,0.03,34,76.63,11.54,0.39,OFFICE SUPPLIES,PAPER,48455,REGULAR AIR,03-06-2009,2009-03-06,3,2009
9,Ord_1854,Prod_17,SHP_2548,Cust_564,25.96,0.06,2,-29.29,6.24,0.36,TECHNOLOGY,OFFICE MACHINES,48455,REGULAR AIR,03-06-2009,2009-03-06,3,2009
10,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",19524,REGULAR AIR,15-01-2010,2010-01-15,1,2010
11,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.40,0.00,39,2.02,7.42,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",43653,EXPRESS AIR,31-10-2012,2012-10-31,10,2012
12,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",39330,EXPRESS AIR,18-07-2010,2010-07-18,7,2010
13,Ord_1579,Prod_16,SHP_2178,Cust_566,139.37,0.04,16,1.72,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",43367,EXPRESS AIR,10-03-2010,2010-10-03,10,2010
14,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",20259,REGULAR AIR,25-05-2011,2011-05-25,5,2011
15,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36355,REGULAR AIR,03-12-2009,2009-03-12,3,2009
16,Ord_2471,Prod_13,SHP_3386,Cust_965,125.95,0.00,10,15.73,2.36,0.55,OFFICE SUPPLIES,PENS & ART SUPPLIES,36355,REGULAR AIR,03-12-2009,2009-03-12,3,2009
17,Ord_2873,Prod_16,SHP_3957,Cust_1052,138.55,0.03,16,0.90,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",18595,REGULAR AIR,02-02-2009,2009-02-02,2,2009
18,Ord_2873,Prod_2,SHP_3957,Cust_1052,451.44,0.10,6,-35.19,13.99,0.52,OFFICE SUPPLIES,APPLIANCES,18595,REGULAR AIR,02-02-2009,2009-02-02,2,2009
19,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",6116,REGULAR AIR,22-03-2009,2009-03-22,3,2009
20,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",34721,REGULAR AIR,02-11-2010,2010-02-11,2,2010
21,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",41671,REGULAR AIR,05-12-2012,2012-05-12,5,2012
22,Ord_2385,Prod_16,SHP_3273,Cust_939,138.84,0.00,15,8.75,2.64,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",17446,EXPRESS AIR,11-06-2009,2009-11-06,11,2009
23,Ord_4307,Prod_16,SHP_6011,Cust_1440,395.37,0.07,37,17.15,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",49764,EXPRESS AIR,07-10-2010,2010-07-10,7,2010
24,Ord_4328,Prod_16,SHP_6033,Cust_1440,103.03,0.07,49,-82.63,2.56,0.55,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",58564,REGULAR AIR,13-11-2012,2012-11-13,11,2012
25,Ord_4031,Prod_16,SHP_5613,Cust_1391,171.50,0.02,16,-20.41,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",16422,REGULAR AIR,11-10-2011,2011-11-10,11,2011
26,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",33377,REGULAR AIR,01-08-2011,2011-01-08,1,2011
27,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13345,REGULAR AIR,02-09-2012,2012-02-09,2,2012
28,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",28805,REGULAR AIR,04-04-2011,2011-04-04,4,2011
29,Ord_1486,Prod_2,SHP_2052,Cust_513,97.93,0.07,14,-616.81,49.00,0.59,OFFICE SUPPLIES,APPLIANCES,28805,REGULAR AIR,04-04-2011,2011-04-04,4,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8369,Ord_2425,Prod_14,SHP_3329,Cust_934,27820.34,0.08,48,11630.15,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,26432,REGULAR AIR,08-01-2010,2010-08-01,8,2010
8370,Ord_1096,Prod_14,SHP_1512,Cust_423,2222.61,0.02,3,196.08,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,38693,REGULAR AIR,21-06-2011,2011-06-21,6,2011
8371,Ord_4842,Prod_14,SHP_6754,Cust_1672,22319.58,0.02,41,-734.31,49.00,0.35,TECHNOLOGY,COPIERS AND FAX,2790,DELIVERY TRUCK,20-08-2009,2009-08-20,8,2009
8372,Ord_2177,Prod_14,SHP_2966,Cust_789,3960.99,0.09,20,631.33,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,48135,EXPRESS AIR,21-04-2009,2009-04-21,4,2009
8373,Ord_5097,Prod_14,SHP_7119,Cust_1731,21046.74,0.04,29,5217.27,24.49,0.54,TECHNOLOGY,COPIERS AND FAX,21188,REGULAR AIR,23-09-2011,2011-09-23,9,2011
8374,Ord_3903,Prod_14,SHP_5417,Cust_1334,3457.99,0.05,1,-11861.46,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,43110,REGULAR AIR,08-02-2011,2011-08-02,8,2011
8375,Ord_1699,Prod_14,SHP_2353,Cust_586,10567.45,0.10,38,2925.37,11.64,0.50,TECHNOLOGY,COPIERS AND FAX,10342,REGULAR AIR,23-11-2011,2011-11-23,11,2011
8376,Ord_3629,Prod_14,SHP_5026,Cust_1260,13934.53,0.10,50,4352.83,11.64,0.50,TECHNOLOGY,COPIERS AND FAX,53378,EXPRESS AIR,14-07-2012,2012-07-14,7,2012
8377,Ord_4166,Prod_14,SHP_5804,Cust_1401,21956.03,0.10,38,5903.09,24.49,0.50,TECHNOLOGY,COPIERS AND FAX,26629,REGULAR AIR,11-07-2009,2009-11-07,11,2009
8378,Ord_3073,Prod_14,SHP_4267,Cust_1142,3550.28,0.06,1,-11769.17,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,22917,EXPRESS AIR,04-03-2009,2009-04-03,4,2009
8379,Ord_1791,Prod_14,SHP_2711,Cust_685,21717.36,0.06,32,8249.86,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,1444,EXPRESS AIR,07-12-2009,2009-07-12,7,2009
8380,Ord_3297,Prod_14,SHP_4573,Cust_1230,13571.70,0.00,29,3825.69,24.49,0.52,TECHNOLOGY,COPIERS AND FAX,18884,REGULAR AIR,26-06-2011,2011-06-26,6,2011
8381,Ord_997,Prod_14,SHP_1379,Cust_365,28761.52,0.04,8,285.11,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,48800,REGULAR AIR,23-10-2010,2010-10-23,10,2010
8382,Ord_1943,Prod_14,SHP_2661,Cust_720,6813.93,0.09,16,358.19,49.00,0.38,TECHNOLOGY,COPIERS AND FAX,38976,DELIVERY TRUCK,26-12-2010,2010-12-26,12,2010
8383,Ord_778,Prod_14,SHP_1067,Cust_262,7813.70,0.09,40,2154.33,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,27298,REGULAR AIR,23-11-2011,2011-11-23,11,2011
8384,Ord_5391,Prod_14,SHP_7527,Cust_1799,24233.54,0.07,43,6492.67,24.49,0.50,TECHNOLOGY,COPIERS AND FAX,13126,REGULAR AIR,20-10-2011,2011-10-20,10,2011
8385,Ord_5425,Prod_14,SHP_7580,Cust_1799,27720.98,0.07,46,11984.40,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,29569,REGULAR AIR,04-07-2011,2011-04-07,4,2011
8386,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,54214,EXPRESS AIR,05-01-2012,2012-05-01,5,2012
8387,Ord_1265,Prod_14,SHP_1749,Cust_466,24051.49,0.07,41,9791.04,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,45347,EXPRESS AIR,01-10-2010,2010-01-10,1,2010
8388,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,52035,REGULAR AIR,30-11-2009,2009-11-30,11,2009
8389,Ord_1390,Prod_14,SHP_1919,Cust_537,6933.45,0.04,15,1200.21,49.00,0.38,TECHNOLOGY,COPIERS AND FAX,16065,DELIVERY TRUCK,20-07-2010,2010-07-20,7,2010
8390,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,5988,EXPRESS AIR,22-11-2010,2010-11-22,11,2010
8391,Ord_1767,Prod_14,SHP_2450,Cust_583,16743.76,0.00,23,6079.63,24.49,0.41,TECHNOLOGY,COPIERS AND FAX,46276,REGULAR AIR,11-12-2012,2012-11-12,11,2012
8392,Ord_5401,Prod_14,SHP_7543,Cust_1801,10281.79,0.03,20,3272.90,24.49,0.36,TECHNOLOGY,COPIERS AND FAX,18279,REGULAR AIR,27-02-2009,2009-02-27,2,2009
8393,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,TECHNOLOGY,COPIERS AND FAX,27616,REGULAR AIR,01-08-2012,2012-01-08,1,2012
8394,Ord_4106,Prod_14,SHP_5720,Cust_1397,11829.40,0.07,20,3899.72,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,57984,REGULAR AIR,04-10-2010,2010-04-10,4,2010
8395,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,41895,REGULAR AIR,12-01-2011,2011-12-01,12,2011
8396,Ord_5368,Prod_14,SHP_7497,Cust_1795,17279.62,0.04,40,4176.25,24.49,0.52,TECHNOLOGY,COPIERS AND FAX,8997,REGULAR AIR,05-07-2009,2009-05-07,5,2009
8397,Ord_1765,Prod_14,SHP_2446,Cust_595,14647.26,0.07,25,5485.15,24.49,0.37,TECHNOLOGY,COPIERS AND FAX,45184,REGULAR AIR,26-06-2010,2010-06-26,6,2010
8398,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.65,0.06,3,-2213.75,24.49,0.50,TECHNOLOGY,COPIERS AND FAX,43650,REGULAR AIR,24-03-2009,2009-03-24,3,2009

In [243]:
# check the number of rows and columns in comb_data.
comb_data.shape

(8399, 18)

In [244]:
#  In the comb_data check the value counts for "Ship_Year"
comb_data.Ship_Year.value_counts()

2009    2141
2010    2134
2012    2112
2011    2012
Name: Ship_Year, dtype: int64

In [245]:
# In which Year the customer have Highest no of Shippings
comb_data.Ship_Year.value_counts().idxmax()

2009

In [246]:
# In the comb_data check the value counts for Ship_Month
comb_data.Ship_Month.value_counts()

5     772
12    731
8     730
9     720
7     706
11    703
3     695
1     684
6     682
4     674
10    665
2     637
Name: Ship_Month, dtype: int64

In [ ]:
# In which Month the customer have Highest no of Shippings

In [ ]:
#  Create a new columns "Duration" which the diffenence b/n Ship_Date and Order_Date

Orders_dimen.csv
- Read the Orders_dimen data into ord_df
- Display the top two rows
- Display the last three rows
- Select one row randomly
- Check the total number of entries you have
- Check the No of features
- Print features Names(Column Names)
- Check the dtype of each and every columns
- Check the "Order_Date" column type if it is object convert it into datetime
- Create two new columns Order_Year and Order_Month with year and month vcalues    from Order_date
- Merge comb_data and ord_df and write the reslut into comb_data
- check the number of rows and columns in comb_data.
- In the comb_data check the value counts in "Order_Priority"
- In the comb_data check the value counts for "Order_Year"
- In which Year the customer have Highest no of orders
- In the comb_data check the value counts for Order_Month
- In which Month the customer have Highest no of orders

In [ ]:
order=pd.read_csv('https://raw.githubusercontent.com/sumathi16/Machine-Learning-with-Python/master/data/global_sales_data/orders_dimen.csv')
order

In [ ]:
order.shape

In [ ]:
order.head(2)

In [ ]:
order.tail(3)

In [ ]:
order.sample()

In [ ]:
order.columns

In [ ]:
order.dtypes

In [ ]:
# Check the "Order_Date" column type if it is object convert it into datetime
order['Order_Date_dt']=pd.to_datetime(order.Order_Date)
order

In [ ]:
order.Order_Date_dt.dtype

In [ ]:
type(order['Order_Date_dt'][0])

In [ ]:
order['Order_Month']=order['Order_Date_dt'].dt.month
order

In [ ]:
order['Order_Year']=order['Order_Date_dt'].dt.year
order

In [ ]:
comb_data=pd.merge(comb_data,order)
comb_data

In [ ]:
comb_data.shape

In [ ]:
comb_data.Order_Priority.value_counts()

In [ ]:
comb_data.Order_Year.value_counts()

In [ ]:
Order_Month.max()

In [ ]:
comb_data.Order_Year.value_counts().idxmax()

In [ ]:
comb_data.Order_Month.value_counts()