In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data=pd.read_csv("knn.csv")
data.drop('Unnamed: 0',axis=1,inplace = True)

In [11]:
data

    x1  x2  y_2d
0    9  28     0
1   36  10     0
2   15  24     0
3    0   9     0
4   49  15     0
..  ..  ..   ...
95  68  10     0
96  63  13     0
97  93   5     0
98  98  31     0
99  79   7     0

[100 rows x 3 columns]

In [12]:
data.head()

   x1  x2  y_2d
0   9  28     0
1  36  10     0
2  15  24     0
3   0   9     0
4  49  15     0

In [14]:
features=data[['x1','x2']]
target=data['y_2d']

In [15]:
def fit(features,target):
    return features,target

In [16]:
class knn():#k ,distance
    def __int__(sel,distance='12'):
        self.distance=distance
    def
    def predict(test):
    #test--->data observations to  predict outcomes
    #test the dataframe
    for _,feature in test.iterrows():

SyntaxError: unexpected EOF while parsing (<ipython-input-16-4fdb62545bd3>, line 5)